# Включаем переадресацию принудительно, по умолчанию если не включено
# Переадресация от корня сайта

RewriteEngine On 
RewriteBase /  

# Переадресация прямого вхождения из адресной строки cabinet.php на гл. страницу



# Переадресация на страницу 404, если введенный адрес не является директорией и файлом
RewriteCond %{REQUEST_FILENAME}  !-d 
RewriteCond %{REQUEST_FILENAME}  !-f
RewriteRule .+ pages/404.php [L]

# Либо сокр.запись переадресации на 404
#ErrorDocument 404 /404.php

#ЧПУ

